# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Compiled files
*.so

# Virtual environments
.env/
.venv/
venv/
ENV/

# IDE / Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Odoo specific
*.log
*.pot
*.mo

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Build artifacts
build/
dist/
*.egg-info/

# Git backup files
*.orig
*.rej

# Misc
*.bak
*.swp
*.tmp